// basic
$--color-black: #000000;
$--color-gray-8: #434343;
$--color-gray-7: #666666;
$--color-gray-6: #999999;
$--color-gray-5: #b7b7b7;
$--color-gray-4: #cccccc;
$--color-gray-3: #d9d9d9;
$--color-gray-2: #efefef;
$--color-gray-1: #f3f3f3;
$--color-white: #ffffff;

// red
$--color-red: #ff0000;
$--color-red-1: #f4cccc;
$--color-red-2: #eb9899;
$--color-red-3: #e06665;
$--color-red-4: #cc0000;
$--color-red-5: #990000;
$--color-red-6: #660000;

// green
$--color-green: #00ff00;
$--color-green-1: #d9ebd3;
$--color-green-2: #b6d7a8;
$--color-green-3: #92c47d;
$--color-green-4: #6aa84e;
$--color-green-5: #38761c;
$--color-green-6: #274e11;

//
$--color-yellow: #ffff00;
$--color-yellow-1: #fff3cc;
$--color-yellow-2: #ffe598;
$--color-yellow-3: #ffd966;
$--color-yellow-4: #f1c231;
$--color-yellow-5: #bf9000;
$--color-yellow-6: #7f5f00;

//#980000 #FF0000 #FF9800 #FFFF00 #00FF00 #00FFFF #4A85E8 #0000FF #9900FF #FF00FF
//
//#E6B8AF #F4CCCC #FDE5CD #FFF3CC #D9EBD3 #D1E0E3 #C9DBF8 #CFE2F3 #D9D3E9 #EBD1DC
//#DD7D6B #EB9899 #F9CB9C #FFE598 #B6D7A8 #A2C4CA #A4C2F4 #9EC5E9 #B4A7D6 #D5A6BD
//#CC4124 #E06665 #F7B16B #FFD966 #92C47D #75A5AF #6D9EEC #6EA8DC #8E7CC3 #C27BA0
//#A61B00 #CC0000 #E69038 #F1C231 #6AA84E #44818E #3B77D8 #3C84C6 #674EA7 #A64C79
//#841F0B #990000 #B45F04 #BF9000 #38761C #114F5C #0F55CC #095294 #351A75 #741A47
//#5B0D00 #660000 #783E02 #7F5F00 #274E11 #0A343C #1B4487 #053762 #1F104C #4C0F2F
